html, body {
  overflow-x: hidden;
}

/* 
  =====================================================
  Custom Styles
  =====================================================
*/

body {
  font-family: "Basic", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Chelsea Market", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

/*
  ======================================================
  Grid
  ======================================================
*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear:both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  margin: 0 2% 20px;
}

/*
  ======================================================
  Media Queries
  ======================================================
*/

@media (max-width: 991px) {
   header .one-half {
    width: 46%;
   }
 }

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }

 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width: 46%;
   }
   .one-third {
     width: 29.33333%;
   }
   .one-fourth {
     width: 21%;
   }
 }

 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media (min-width: 1240px) {
   .container {
     width: 1210px;
   }
 }

 @media (min-width: 2000px) {
  .donate ul li {
    text-align: center;
    margin-left: 300px;
  }
 }

 @media (max-width: 2000px) {
  .site-logo {
    margin-left: -30px;
  }

  .hero h1 {
    float: right;
    font-size: 25px;
  }
  .snapwidget-widget {
    display: inline-block;
    height: 300px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .donate ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 100px;
  text-align: center;
  }
  header .social img {
    height: 50px;
  }
  header .site-logo img {
    height: 100px;
  }
  }

 @media (max-width: 1046px) {
  .one-fourth {
    width: 21%;
  }
  .site-logo img {
    width: 260px;
    height: 50px;
  }
  .links ul li a {
    font-size: 20px;
  }
  .links {
    margin-right: -20px;
  }
  .social img {
    width: 40px;
    height: 40px;
  }
  .snapwidget-widget {
    display: block;
    float: none;
    margin-left: 120px;
  }
  .hero h1 {
    display: block;
    text-align: center;
    float: none;
    margin-bottom: -20px;
    margin-top: -1px;
  }
  .hero p {
    display: block;
  }
  .donate {
    width: 95%;
  }
  .donate img {
    text-align: center;
  }
  .donate ul li {
    list-style-type: none;
    display: block;
    margin: 0;
  }
  .one-third {
      width: 29.33333%;
    }
  .header {
    background: #26C6DA;
  }
 }

 @media (min-width: 870px) {
 .secretmenu {
    display:none;
  }
  .normalmenu {
    display: block;
  }
 }

 @media (max-width: 750px) {
  .snapwidget-widget {
    margin-left: 100px;
  }
 }

 @media (max-width: 870px) {
  header .social img {
    height: 30px;
    width: 30px;
  }
  .normalmenu {
    display: none;
  }
  .secretmenu {
    display: block;
  }
  .site-logo img {
    margin-left: 10px;
  }
 }

 @media (max-width: 690px) {
  .snapwidget-widget {
    margin-left: 80px;
  }
 }

 @media (max-width: 600px) {
  .links ul li a {
    font-size: 20px;
  }
 }

 @media (max-width: 570px) {
  .snapwidget-widget {
    display: none;
  }
  .hero h1 {
    margin-top: 10px;
  }
  header .site-logo img {
    height: 50px;
    width: 150px;
  }
  .footer img {
    display: none;
  }
  .footer .copyright {
    display: none;
  }
  .hamburger {
    margin-top: -10px;
  }
  .one-third {
    width: 96%;
  }
 }

/*
  ======================================================
  Header
  ======================================================
*/

header {
  color: #000000;
  background: #26C6DA;
}

header nav {
  padding: 1em 0;
}

header nav ul {
  display: inline;
  text-align: center;
  float: right;
  margin: 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}

header nav ul > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 27px;
  font-family: "Chelsea Market", Helvetica, Arial, sans-serif;
}

header nav ul > li > a:hover {
  color: #FFFFFF;
}

header .site-logo {
  display: inline-block;
}

/*
  ======================================================
  Body
  ======================================================
*/

h1 {
  float: right;
  margin: 170px 50px;

}

p {
  text-align: center;
}

.donate h2 {
  text-align: center;
}

.donate ul {
  display: inline;
  text-align: center;
  margin: 0;
}

.donate ul li img {
  height: 70px;
  margin-bottom: 30px;
}

/*
  ======================================================
  Footer
  ======================================================
*/

footer {
  background: #00ACC1;
  color: #000000;
  margin-top: 15px;
  height: 115px;
}

footer img {
  height: 62px;
  float: right;
  margin-top: 20px;
}

footer p {
  margin-top: 30px;
}

footer a {
  text-decoration: none;
  color: #000000;
}

/*
  ======================================================
  Hamburger
  ======================================================
*/

.hamburger {
  z-index: 1000;
  background: #008B9C;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  float: right;
}
